header {
    position: absolute;
    inset: 0;

    height: $header-heigth;
    padding-left: 2rem;
    padding-right: 2rem;

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    svg {
        height: 3rem;

        #logo {
            fill: $color--main;
            transition: fill .25s linear;
        }
    }

    &:hover {
        svg #logo {
            fill: $color--action;
        }
    }
}

nav {
    display: flex;
    align-items: center;

    height: $header-heigth;

    ul {
        display: flex;
        gap: 1rem;

        padding: 0;
        margin: 0;

        li {
            list-style: none;
        }
    }
}

footer {
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
